header > nav > div {
    background-color: #3e3e3e;
    height: 48px;
}

header > nav > div > div > a {
    color: #e3e3e3;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;/*字體標籤*/
    text-decoration-line: none;
    transition: color 0.3s;
}

header a:hover {
    color: #ffffff;
}

header > nav > div > div > div > a {
    color: #e3e3e3;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;/*字體標籤*/
    text-decoration-line: none;
    transition: color 0.3s;
}

.fa-bars {
    color: #e3e3e3;
}

.fa-address-card {
    color: #e3e3e3;
}

header > nav > div > div > div > div > ul > li > a {
    color: #e3e3e3;
    font-family: 'Josefin Sans', sans-serif;/*字體標籤*/
    transition: color 0.3s;
}

header > nav > div > div > div > div > ul > li > a a:hover {
    color: #ffffff;
}

main {
    margin: 48px;
    padding: 10px 0px;
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: calc(100vh + 50px);
	width: calc(100vw);
	overflow: auto;
}